@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Merriweather:wght@700&family=Montserrat:ital,wght@0,100;0,200;0,800;1,100&family=Rajdhani:wght@300;400&family=Roboto+Mono:ital,wght@0,100;1,100&family=Roboto:ital,wght@1,100&family=Tilt+Prism&display=swap');

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(ellipse at center, rgba(127, 0, 173, 0.6) 0%,
            rgba(24, 23, 23, 0.8) 60%,
            rgb(0, 0, 0) 90%),
        url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/31787/stars.jpg);
    background-size: cover;
    z-index: -5;
    overflow: hidden;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(82, 74, 74, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 10px;
    height: 10px;
    animation-delay: 0s;
    animation-duration: 20s;
}



@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

.card {
    position: relative;
    width: 300px;
    height: 400px;
    background: #fff;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

.img-bx {
    position: absolute;
    top: 0;
    left: 0;
    right: inherit;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    transform: translateY(30px) scale(0.5);
    transform-origin: top;
}

.img-bx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* Align content to the top */
    padding-top: 220px;
    /* Adjusted padding for top alignment */
}

.content .detail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.content .detail p {
    text-align: justify;
    color: #a2adb3;
    font-size: 0.7em;
    font-weight: bold;
}

.sci {
    position: relative;
    display: flex;
    margin-top: 5px;
}

.sci li {
    list-style: none;
    margin: 15px;
    /* Adjust the margin to add space between icons */
}

.sci li a {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: transparent;
    font-size: 1.5em;
    color: #444;
    text-decoration: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: 0.5s;
}

/* Specific colors for icons */
.sci li:nth-child(1) a i {
    color: #1DA1F2;
    /* Twitter Blue */
}

.sci li:nth-child(2) a i {
    color: #2867B2;
    /* LinkedIn Blue */
}

.sci li:nth-child(3) a i {
    color: #E4405F;
    /* Instagram Pink */
}

.sci li a:hover {
    background: #0f0f0f;
    color: #f0e1e1;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40%;
    /* Adjust margin as needed */

}

#Btn {
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    /* overflow: hidden; */
    border-radius: 7px;
    cursor: pointer;
    transition: all .3s;
}

#Btn:active {
    scale: 0.92;
}

.svgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(0px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all .5s;
    border: 1px solid rgba(216, 207, 207, 0.466);
}

.BG {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #000000;
    z-index: -1;
    border-radius: 10px;
    pointer-events: none;
    transition: all .5s;
}

#Btn:hover .BG {
    transform: rotate(35deg);
    transform-origin: bottom;
}

#Btn:hover .svgContainer {
    background-color: rgba(156, 156, 156, 0.466);
    backdrop-filter: blur(4px);
}